
<h4><a href="/#/" class="titleone">homepage</a></h4>
<div>
	<!-- calling the post here newPost.title -->
	<form ng-submit="postsMessage(newPost)" id="formstyle">
      <input  type="text" ng-model="newPost.title"  size="30"
             placeholder="Title" class="inputstyle">
       <textarea cols= "20" rows="10" ng-model="newPost.content" placeholder="Content"> </textarea>
      <button  class="largebtn" type="submit" value="add">Message</button>
    </form>


</div>
<!-- this is where you are pulling the post post.title -->
<!--post is the post that you are passing in the function. the written post -->
      <div ng-repeat="post in posts" ng-class-odd="'odd'" ng-class-even="'even'">
       <div class="repeatform"> 
 <!-- call the different sections of the post so post.title, post.date, post.content -->
		<h2>{{post.title}}</h2>
		<p>{{post.date | date: format : timezone}}</p>
		<p>{{post.content}}<p>

<!-- the button called deletePost to call it in the function which is in the controller -->
		<button  class="largebtn" ng-click="deletePost(post)"> Delete Post </button>
		<button  class="largebtn" type="submit" value="add" ng-click="edit = !edit">Update Post</button>
		<form  class="animate-show" ng-show="edit">
		      <input  type="text" ng-model="post.title"  size="30"
		             placeholder="add new todo here" class="inputstyle">
       			<textarea cols= "20" rows="10" ng-model="post.content"> </textarea>
      	<button  class="largebtn" type="submit" value="add" ng-click="edit = !edit">Message</button>
    	</form>
 		</div>
      </div>
    